<form action = "/payment/results">
  <label for="five">
    APR
  </label>
  <input id ="five" type ="text" placeholder = "E.g. 5.42" name = "apr">
  <label for="six">
    Number of years
  </label>
  <input id ="six" type ="text" placeholder = "How many years to repay?" name = "years">
  <label for="seven">
    Principal
  </label>
  <input id ="seven" type ="text" placeholder = "How much principal?" name = "pri">
  <button>Calculate monthly payment</button>
</form>
