<form action = "/random/results">
  <label for="one_rand">
    Minimum
  </label>
  <input id ="one_rand" type ="text" placeholder = "E.g. 1.5" name = "min">
  <label for="two_rand">
    Maximum
  </label>
  <input id ="two_rand" type ="text" placeholder = "E.g. 4.5" name = "max">

  <button>Pick random number</button>
</form>
