<form action = "/square_root/results">
  <label for="four">
    Enter a number
  </label>
  <input id ="four" type ="text" placeholder = "What number do you want to take the square root of?" name = "input">
  <button>Calculate square root</button>
</form>
