<form action = "/square/results">
  <label for="one">
    Enter a number
  </label>
  <input id ="one" type ="text" placeholder = "What number do you want to square?" name = "input">
  <button>Calculate square</button>
</form>
